html, body{
    font-family: 'Poppins';
}



.mainContent{
    display: flex;
    justify-content: center;
}

.leftSide{
    margin-top: 2rem;
    width: 40vw;
}


.headerNEUST{
    display: flex;
    align-items: center;
    width: 70%;
}

.images{
    display: flex;
    justify-content: center;
}

.headerNEUST h5{
    flex: 1;
    padding-left: 1em;
}

.headerNEUST img{
    height: 100px;
    width: 100px;
    aspect-ratio: 1/1;
}

h1{
    margin-top: 3vw;
}

.rightSide{
    width: 50vw;
    display: flex;
    justify-content: center;
    align-items: center;
}


.images img{
    width: 95%;
    height: auto;
}


.leftSide label{
    margin-top: 1em;
}

.forgotPW{
    text-align: right;
    margin-top: .5em;
}

.createAcc{
    margin-top: 1rem;
    text-align: center;
}

.btn-block{
    width: 100%;
}

