.editModal {
    background-color: rgba(255, 255, 255, 0.817);
    opacity: 0;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    transition: all 0.3s ease-in-out;
    width: 100%;
    height: 100%;
    z-index: -1;

    display: flex;
    align-items: center;
    justify-content: center;
}

.deleteModal{
    background-color: rgba(255, 255, 255, 0.817);
    opacity: 0;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    transition: all 0.3s ease-in-out;
    width: 100%;
    height: 100%;
    z-index: -1;

    display: flex;
    align-items: center;
    justify-content: center;
}

.innerModal{
    background-color: rgb(255, 255, 255);
    border: solid black 1px;
    border-radius: 6px;
    padding: 30px;
    width: 90%;
    height: auto;
}

.deleteInnerModal{
    background-color: rgb(255, 255, 255);
    border: black solid 1px;
    border-radius: 6px;
    padding: 20px;
    width: auto;
    height: auto;
}

.editModal.open {
    opacity: 1;
    z-index: 999;
}

.deleteModal.open{
    opacity: 1;
    z-index: 999;
}
